.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    background-color: red;
    border-bottom: black solid 10px ;
}

.nav-item a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
}

.contact {
    background-color: black;
    color: white;
}

.bottom-bar {
    background-color: red;
}